<div id="welcome" class="hero-unit span10">
  <h2>Start Playing Gigs on Your Terms</h2>
  <h3>Choose from our plans below</h3>
</div>
<div class="row span10 plans">
  <div class="span2 well">
    <div class="plan"><h2>Roadie</h2></div>
    <ul class="unstyled">
      <li>One gig a month</li>
    </ul>
    <h3>Free</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span3 well featured">
    <div class="plan featured-plan"><h2>Up-And-Comer</h2></div>
    <ul class="unstyled">
      <li>Five gigs a month</li>
    </ul>
    <h3>$19/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>Rockstar</h2></div>
    <ul class="unstyled">
      <li>Unlimited gigs</li>
    </ul>
    <h3>$29/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div>
